<% if (error_reg_msg.length) { %>
    <div class="message error-msg" role="alert">
      <%= error_reg_msg %>
    </div>
<% } %>

<% if (error_sub_msg.length) { %>
  <div class="message error-msg" role="alert">
    <%= error_sub_msg %>
  </div>
<% } %>

<% if (error_log_msg.length) { %>
  <div class="message error-msg" role="alert">
    <%= error_log_msg %>
  </div>
<% } %>

<% if (error_delete_msg.length) { %>
  <div class="message error-msg" role="alert">
    <%= error_delete_msg %>
  </div>
<% } %>

<% if (success_delete_msg.length) { %>
  <div class="message success-msg" role="alert">
    <%= success_delete_msg %>
  </div>
<% } %>

<% if (success_log_msg.length) { %>
  <div class="message success-msg" role="alert">
    <%= success_log_msg %>
  </div>
<% } %>

<% if (success_logout_msg.length) { %>
  <div class="message success-msg" role="alert">
    <%= success_logout_msg %>
  </div>
<% } %>

<% if (success_sub_msg.length) { %>
  <div class="message success-msg" role="alert">
    <%= success_sub_msg %>
  </div>
<% } %>

<% if (success_reg_msg.length) { %>
  <div class="message success-msg" role="alert">
    <%= success_reg_msg %>
  </div>
<% } %>